
.container__big-card{

  margin-left: 20px;
  margin-right: 20px;

  width: 400px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__title > h1  {
  margin-left: 40px;
    margin-top: 15px;
  font-size: 25px;
}

.big-card__description{
  margin-right: 70px;
  margin-top: 20px;

}

.big-card__description > p > a {
  display: block;
  margin-bottom: 50px;
  margin-left: 40px;
  color: grey;
}

.big-card__photo > img{

  margin-left: 40px;
  width: max-content;
  min-width: 400px;
  }

