header {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

footer {
  background-color: black;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 13vh;
}
.banner {
  width: 14%;
  height: 13vh;
}

@media screen and (min-width: 844px) {
  footer {
    height: 13vh;
  }
}
