<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="{{ photoCover }}"
      alt=""
      srcset=""
      >
    </div>

    <div class="small-card__title">
      <h1><a href="#"> {{ cardTitle }}</a></h1>
    </div>
  </div>

  <!--  <div small-card__description>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit nostrum possimus excepturi maxime vero magni deleniti tempora aspernatur facere, soluta, cum impedit cumque quis a nisi nemo quidem illum voluptas.</p>
  </div>
  -->

  <div class="container__small-card__separator">
    <hr/>
  </div>

</div>
