@media screen and (max-width: 720px) {

  .container__articles {
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
  }

  .banner > div {
    margin: 10px;
  }
}
