<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     </head>
<header>

  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<section class="container__articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>

</section>

<footer>
  <video class="banner" autoplay loop muted>
    <source src="./assets/video/logo1.mp4" type="video/mp4">
  </video>
</footer>





