@media screen and (max-width: 620px) {
  .container__articles {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
  }

  .banner > div {
    margin: 10px;
  }
}
