@media screen and (max-width:600px){

  .container-principal {
    display: block;
    margin: 0;
  }

.container__articles {
  box-sizing: border-box;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

}

.banner {

  width: 100vh;
  height: 100vh !important;
}

}
